<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOmhsvUVKDSTyUEGCG7gztoKdt9eqr5gA</string>
	<key>GCM_SENDER_ID</key>
	<string>687271158294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-5b819</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-5b819.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687271158294:ios:108fca18f537e076b7cb37</string>
</dict>
</plist>